<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shardingjdbc.demo.mapper.TOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shardingjdbc.demo.entity.TOrderItem">
        <id column="id" property="id" />
        <result column="oder_id" property="oderId" />
        <result column="product_name" property="productName" />
        <result column="num" property="num" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, oder_id, product_name, num, user_id
    </sql>

</mapper>
